name: firepost
description: A new Flutter application.

version: 1.0.0+1

environment:
  sdk: ">=2.7.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.0
  shared_preferences: 0.5.12
  fluttertoast: 7.1.1
  firebase_core: 0.4.4
  firebase_auth: 0.16.0
  firebase_database: ^3.1.6
  firebase_storage: 3.1.6
  image_picker: 0.6.7

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:

  uses-material-design: true

  assets:
    - assets/images/

  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf

